@page
@model FinalProject.Pages.DepartureInfos.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DepartureInfo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureInfo.Time)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartureInfo.Time)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureInfo.Gate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartureInfo.Gate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureInfo.Airport)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartureInfo.Airport.AirportID)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="DepartureInfo.DepartureInfoID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
