@page
@model FinalProject.Pages.DepartureInfos.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DepartureInfo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureInfo.Time)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartureInfo.Time)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureInfo.Gate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartureInfo.Gate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureInfo.Airport)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DepartureInfo.Airport.AirportID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.DepartureInfo.DepartureInfoID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
